*.log
*.md
*.lock
*.swp

.cache
.temp
.idea
.rn_temp
.DS_Store
.editorconfig
.eslintignore
.gitignore
.prettierignore
.prettierrc
.stylelintignore
LICENSE

node_modules
packages/**/coverage
packages/**/dist
packages/freyja-poster/lib
packages/freyja-poster/es
packages/freyja-poster/src/style/components/iconfont.less
packages/freyja-demo/weapp
packages/freyja-demo/alipay
packages/freyja-demo/swan
packages/freyja-demo/h5
packages/freyja-demo/tt
packages/freyja-demo/qq
packages/freyja-demo/dd
packages/freyja-demo/qywx
packages/freyja-demo/jd
packages/freyja-demo/iot
packages/freyja-demo/build
packages/freyja-demo/dist
